/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);


/* = CONTAINER
================================================ */
.mod-pedal-boxy{{{cns}}} {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:495px 433px;
    height:433px;
    position:absolute;
    width:495px;
    border-radius: 21px;
}


/* PORTS
================================================ */

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-pedal-input,
.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-pedal-output {
    top: 66px;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-footswitch {
    background-image:url(/resources/pedals/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    bottom: 68px;
    left: 433px;
    right: 0px;
    cursor:pointer;
    height:66px;
    width: 66px;
    margin: auto;
    position:absolute !important;
    transform: rotate(90deg);
}
.mod-pedal-boxy{{{cns}}} .mod-footswitch.on {
    background-position-y: top !important
}


/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group {
/*     margin:20px !important; */
    position:relative;
    text-align:center;
    z-index:30;
}
.mod-pedal-boxy{{{cns}}} .top {
    margin-top:73px !important;
    margin-right:0px !important;
    margin-left:0px !important;
}

.mod-pedal-boxy{{{cns}}}.mod-one-footswitch-presets .mod-control-group {
    margin:10px !important;
    top:75px;
}

.mod-pedal-boxy{{{cns}}}.mod-one-footswitch-presets .mod-control-group > select {
    width:100%;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob {
    overflow:hidden;
    position:relative;
}

.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-control-group .mod-knob .mod-knob-image1 {
    background-repeat:no-repeat;
    background-size:auto 60px;
    height:60px;
    width:60px;
    margin-bottom: 0px;
    margin-top: 35px;
    margin-left: 19px;
    margin-right: 17px;
    scale:2.5;
}

.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-control-group .mod-knob .mod-knob-image2{
    background-repeat:no-repeat;
    background-size:auto 60px;
    height:60px;
    width:60px;
    margin-bottom: 0px;
    margin-top: 37px;
    margin-left: 12px;
    margin-right: 8px;
    scale:2.1;
}

.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-control-group .mod-knob .mod-knob-image3{
    background-repeat:no-repeat;
    background-size:auto 60px;
    height:60px;
    width:60px;
    margin-bottom: 0px;
    margin-top: 37px;
    margin-left: 1px;
    margin-right: 3px;
    scale:1.8;
}

.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-control-group .mod-knob .mod-knob-image4{
    background-repeat:no-repeat;
    background-size:auto 60px;
    height:60px;
    width:60px;
    margin-bottom: 0px;
    margin-top: 37px;
    margin-left: 6px;
    margin-right: 9px;
    scale:2.1;
}

.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-control-group .mod-knob .mod-knob-image5{
    background-repeat:no-repeat;
    background-size:auto 60px;
    height:60px;
    width:60px;
    margin-bottom: 0px;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    scale:2.5;
}

.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-control-group .mod-knob {
    display:inline-block;
    height:161px;
}

/* = ENUMERATED LIST
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-enumerated-group {
    height:31px;
    margin:20px 100px 0 !important;
    position:relative;
    width:325px;
    z-index:35;
}

.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-enumerated-group,
.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-enumerated-group {
    margin-bottom:5px !important;
}

.mod-pedal-boxy{{{cns}}}.mod-four-knobs .mod-enumerated-group {
    width:325px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated {
    margin-bottom: 20px;
/*     display:inline-block; */
    background-position:right center;
    background-repeat:no-repeat;
    font-size:10px;
    font-weight:bold;
    left:0;
    line-height:2;
    overflow:hidden;
    position:initial;
    right:0;
    text-align:left;
    z-index: 40;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    border-radius:4px 4px 0 0;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list {
    display:none;
    color:#fff;
    width:100%;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list {
    background-color:rgba(0,0,0,.9);
    display:none;
    height:115px;
    overflow:auto;
    position:absolute;
    z-index: 50 !important;
}


.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding:3px 9px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background-color:rgba(255,255,255,.2);
    cursor:pointer;
}

/* = BACKGROUND IMAGES - Color of the pedal
================================================ */
.mod-pedal-boxy{{{cns}}}.mod-boxy75.mod-black {
    background-image:url(/resources/pedals/Ratatouille.png{{{ns}}});
}

/* = COLORS - Color of the pedals labels
================================================ */
.mod-pedal-boxy{{{cns}}}.mod-black h1,
.mod-pedal-boxy{{{cns}}}.mod-black .mod-enumerated,
.mod-pedal-boxy{{{cns}}}.mod-black .mod-control-group .mod-knob > span.mod-knob-title
{
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-black h1
{
    border-color:white;
}


/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group.mod-blue .mod-knob .mod-knob-image1
{
    background-image:url(/resources/knobs/knob.png{{{ns}}})
}

.mod-pedal-boxy{{{cns}}} .mod-control-group.mod-blue .mod-knob .mod-knob-image2
{
    background-image:url(/resources/knobs/knob.png{{{ns}}})
}

.mod-pedal-boxy{{{cns}}} .mod-control-group.mod-blue .mod-knob .mod-knob-image3
{
    background-image:url(/resources/knobs/knob.png{{{ns}}})
}

.mod-pedal-boxy{{{cns}}} .mod-control-group.mod-blue .mod-knob .mod-knob-image4
{
    background-image:url(/resources/knobs/knob.png{{{ns}}})
}

.mod-pedal-boxy{{{cns}}} .mod-control-group.mod-blue .mod-knob .mod-knob-image5
{
    background-image:url(/resources/knobs/knob.png{{{ns}}})
};
